{% extends "template.html" %}
{% block title %} Campionato {% endblock %}

{% block content %}

<div class="row mt-4">
    <div class="col-sm-10 offset-sm-1">
        <h2 class="text-center">Campionato Anno: {{ campionato[1] }}</h2>

        <!-- GENERAZIONE TABELLA FASI CAMPIONATO -->
        <h3 class="text-center mt-5">Fasi</h3>

        <ul class="list-group mt-4">
            <div class="list-group-item list-group-item-action border border-secondary">
                <div class="row">
                    <div class="col-sm-3 text-center"><b>Squadra Ospitante</b></div>
                    <div class="col-sm-3 text-center"><b>Squadra Ospite</b></div>
                    <div class="col-sm-3 text-center"><b>Fase</b></div>
                    <div class="col-sm-3 text-center"><b>Vincitore</b></div>
                </div>
            </div>

            {% for partita in partite %}

            <a href="{{ url_for('partita', id1=partita[4], id2=partita[5], idcampionato=campionato[0]) }}"
                class="list-group-item list-group-item-action border border-secondary">
                <div class="row">
                    <div class="col-sm-3 text-center">{{ partita[0] }}</div>
                    <div class="col-sm-3 text-center">{{ partita[1] }}</div>
                    <div class="col-sm-3 text-center">{{ partita[2] }}</div>
                    <div class="col-sm-3 text-center">{{ partita[3] }}</div>
                </div>
            </a>

            {% endfor %}
        </ul>

        <!-- GENERAZIONE TABELLA CLASSIFICA CAMPIONATO -->
        <h3 class="text-center mt-5">Classifica</h3>

        <ul class="list-group mt-4">
            <div class="list-group-item list-group-item-action border border-secondary">
                <div class="row">
                    <div class="col-sm-6 text-center"><b>Squadra</b></div>
                    <div class="col-sm-6 text-center"><b>Punteggio</b></div>
                </div>
            </div>

            {% for squadra in classifica %}

            <div class="list-group-item list-group-item-action border border-secondary">
                <div class="row">
                    <div class="col-sm-6 text-center">{{ squadra[0] }}</div>
                    <div class="col-sm-6 text-center">{{ squadra[1] }}</div>
                </div>
            </div>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}